<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvxdlmT_twOYj5S1iwKyfT_IRyKAZ6bE0</string>
	<key>GCM_SENDER_ID</key>
	<string>414379304905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatTheWater</string>
	<key>PROJECT_ID</key>
	<string>what-the-water</string>
	<key>STORAGE_BUCKET</key>
	<string>what-the-water.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414379304905:ios:c9bb31fe5cbba6c7386a18</string>
</dict>
</plist>